# Configuration of the camera
camera:
{
    origin = { x = 0.0; y = 0.0; z = 0.0;};
    resolution = { width = 1000.0; height = 1000.0; };
    fov = 90.0; # In degree
    bgColor = { r = 0; g = 0; b = 0;};
};

# Primitives in the scene
primitives:
{
    # List of planes
    planes = (
        { axis = "Y"; position = 2.0; material = { color = { r = 255; g = 0; b = 0; }; reflectivity = 0.5; refractivity = 0.0; transparency = 0.5}; }
    );

    # List of spheres
    spheres = (
        { origin = { x = -2.0; y = 0.0; z = -4.0;}; r = 1.0; material = { color = { r = 64; g = 64; b = 64; }; reflectivity = 0.5; refractivity = 0.0; transparency = 0.5}; }
    );

    # List of cones
    cones = (
        { origin = { x = 0.0; y = -1.0; z = -5.0;}; r = 1.0; height = 2.0; rotation = { x = 0.0; y = 0.0; z = 0.0;}; scale = { x = 0.0; y = 0.0; z = 0.0;}; material = { color = { r = 255; g = 255; b = 255;}; reflectivity = 0.5; refractivity = 0.0; transparency = 0.0}; }
    );

    # List of cylinders
    cylinders = (
        { origin = { x = 2.0; y = 0.0; z = -4.0;}; r = 1.0; height = 2.0; rotation = { x = 0.0; y = 0.0; z = 0.0;}; scale = { x = 0.0; y = 0.0; z = 0.0;}; material = { color = { r = 0; g = 0; b = 255;}; reflectivity = 0.5; refractivity = 0.0; transparency = 0.0}; }
    );

};

# Light configuration
lights:
{
    ambient = 0.4; # Multiplier of ambient light
    diffuse = 0.6; # Multiplier of diffuse light
    intensity = 1.0;

    # List of point lights
    # point = (
    #     { origin = { x = 4.0; y = -10.0; z = 5.0;}; color = { r = 255; g = 255; b = 255; };}
    # );

    # List of directional lights
    directional = (
        { direction = { x = 1.0; y = 0.0; z = 0.0;}; color = { r = 255; g = 255; b = 255; };}
    );
};